/* =========================
RESET
========================= */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* =========================
VARIABLES
========================= */

:root {
--verde-oscuro: #374F1D;
--gris: #444141;
--verde: #586232;
--crema: #FEF9E0;
--blanco: #FEF9E0;
}

/* =========================
BODY
========================= */

body {
font-family: Arial, sans-serif;
background-color: var(--crema);
color: var(--gris);
min-height: 100vh;
}

/* =========================
HEADER
========================= */

header {
width: min(1100px, 90%);
margin: 0 auto;
padding: 90px 0 70px;
display: flex;
justify-content: space-between;
align-items: end;
gap: 40px;
}

/* TÍTULO */

h1 {
font-size: clamp(3.5rem, 9vw, 7rem);
line-height: 0.85;
letter-spacing: -5px;
color: var(--gris);
}

/* SUBTÍTULO */

header p {
max-width: 220px;
margin-bottom: 5px;
color: var(--verde);
font-size: 1rem;
line-height: 1.4;
}

/* =========================
MAIN
========================= */

main {
width: min(1100px, 90%);
margin: 0 auto;
}

/* =========================
INTRODUCCIÓN
========================= */

.introduccion {
display: grid;
grid-template-columns: 1fr 2fr;
gap: 60px;
padding: 50px 0 100px;
border-top: 1px solid #d8d5c5;
}

/* TÍTULOS DE SECCIÓN */

h2 {
font-size: 1rem;
text-transform: uppercase;
letter-spacing: 1px;
color: var(--verde-oscuro);
}

/* TEXTO */

.introduccion p {
max-width: 650px;
color: var(--gris);
font-size: 1.15rem;
line-height: 1.7;
}

/* =========================
PROTOTIPO
========================= */

.prototipo {
padding-bottom: 100px;
}

.prototipo h2 {
margin-bottom: 30px;
}

/* =========================
FIGMA
========================= */

.figma {
width: 100%;
padding: 10px;
background-color: var(--blanco);
border-radius: 4px;
border-top: 3px solid var(--verde);
overflow: hidden;
}

/* =========================
IFRAME
========================= */

iframe {
    display: block;
    width: 100%;
    height: 1000px;
    border: none;
}

/* =========================
FOOTER
========================= */

footer {
padding: 45px 5%;
background-color: var(--gris);
color: var(--blanco);
display: flex;
justify-content: space-between;
align-items: center;
}

footer p {
font-size: 0.9rem;
color: var(--crema);
}

footer::after {
content: "Rescat3";
color: var(--verde);
font-size: 1.2rem;
font-weight: bold;
}

/* =========================
MÓVIL
========================= */

@media (max-width: 700px) {

header {
    display: block;
    padding: 60px 0 50px;
}

h1 {
    font-size: clamp(3.5rem, 18vw, 6rem);
    margin-bottom: 25px;
    letter-spacing: -3px;
}

header p {
    max-width: 300px;
}

.introduccion {
    display: block;
    padding: 35px 0 70px;
}

.introduccion h2 {
    margin-bottom: 25px;
}

.introduccion p {
    font-size: 1rem;
}

iframe {
    height: 600px;
}

.prototipo {
    padding-bottom: 60px;
}

footer {
    display: block;
}

footer::after {
    display: block;
    margin-top: 15px;
}

}